# To set your custom php.ini, add the following line to this file:
# suphp_configpath /home/yourusername/path/to/php.ini
RedirectMatch 404 /\\.git(/|$)

RewriteEngine on

# If you are in a sub folder of your web root you
# might have to enable something like this:
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
DirectoryIndex index.php