@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('http://dl.dropbox.com/u/48552248/websites/demos/twitter_button/websymbols-regular-webfont.eot');
    src: url('http://dl.dropbox.com/u/48552248/websites/demos/twitter_button/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://dl.dropbox.com/u/48552248/websites/demos/twitter_button/websymbols-regular-webfont.woff') format('woff'), url('http://dl.dropbox.com/u/48552248/websites/demos/twitter_button/websymbols-regular-webfont.ttf') format('truetype'), url('http://dl.dropbox.com/u/48552248/websites/demos/twitter_button/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* styling of the button  */

#my-cool-button {
    float:right;
    font-family: 'WebSymbolsRegular';
    position: relative;
    color: #cfcfcf;
    font-size: 30px;
    cursor: pointer;
    background: rgb(251,251,251);
    background: -moz-linear-gradient(top,  rgba(251,251,251,1) 0%, rgba(218,218,218,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(218,218,218,1)));
    background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(218,218,218,1) 100%);
    background: -o-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(218,218,218,1) 100%);
    background: -ms-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(218,218,218,1) 100%);
    background: linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(218,218,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#dadada',GradientType=0 );
    width: 200px;
    height: 50px;
    padding: 0 0 7px 0;
    border: none;
    text-shadow: 0 -.5px .5px #cfcfcf, 0 -.8px .6px #9d9d9d, 0 -1px 0 #444, 0 .3px 0 #fff, 0 .3px 1px #fafafa;
    -moz-box-shadow: inset 0 .5px .3px #fff, inset 0 10px 15px #fafafa, 0 6px 3px #555, 0 12px 5px #777, 0 20px 15px #999, 0 40px 30px rgba(0,0,0,0.1), 0 120px 90px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 .5px .3px #fff, inset 0 1px 1.5px #fafafa, 0 .6px .3px #555, 0 1.2px .5px #777, 0 2px 1.5px #999, 0 4px 3px rgba(0,0,0,0.1), 0 12px 9px rgba(0,0,0,0.2);
    box-shadow: inset 0 .5px .3px #fff, inset 0 1px 1.5px #fafafa, 0 .6px .3px #555, 0 1.2px .5px #777, 0 2px 1.5px #999, 0 4px 3px rgba(0,0,0,0.1), 0 12px 9px rgba(0,0,0,0.2);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* on tap (iphone/ipad) don't grey button */
    /* transitions */
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/* on hover switch the gradients  */

#my-cool-button:hover {
    color: #ddd;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%);
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
    text-shadow: 0 -3px 3px #ddd, 0 -5px 4px #aaa, 0 -7px 0 #777, 0 2px 0 #fff, 0 2px 6px #fafafa;
}

/* on active move the button down and change box shadow  */

#my-cool-button:active {
    padding-bottom: 6px;
    color: #bbb;
    background: rgb(183,183,183);
    background: -moz-linear-gradient(top,  rgba(183,183,183,1) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(255,255,255,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#ffffff',GradientType=0 );
    text-shadow: 0 -.5px .5px #bbb, 0 -.8px .6px #aaa, 0 -1px 0 #777, 0 .3px 0 #fff, 0 .3px 1px #fafafa;
    -moz-box-shadow: inset 0 3px 5px #333, inset 0 8px 20px #555, 0 3px 2px #fff, 0 5px 5px #fcfcfc;
    -webkit-box-shadow: inset 0 3px 5px #333, inset 0 8px 20px #555, 0 3px 2px #fff, 0 5px 5px #fcfcfc;
    box-shadow: inset 0 3px 5px #333, inset 0 8px 20px #555, 0 3px 2px #fff, 0 5px 5px #fcfcfc;
}
