/* begin Page */
/* Created by Artisteer v3.1.0.46558 */

@font-face {
	font-family: 'GoodDogRegular';
	src: url('fonts/GoodDog-webfont.eot');
	src: local('‚ò∫'), url('fonts/GoodDog-webfont.woff') format('woff'), url('fonts/GoodDog-webfont.ttf')
	format('truetype'), url('fonts/GoodDog-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}
ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}
a{
    color: #92D7FA;
}
html, body
{
   height:100%;
}
body
{
   position: absolute;
   padding: 0;
   margin:0;
   width: 100%;
   background: url(../images/bg.jpg) repeat #6DA2A3;
   color: #EEEEEE;
   text-shadow: #386C6C 0px 1px 1px; 
}
                    /************ header **********/
.header{
    width: 1000px;
    margin: 0 auto;
    min-height: 67px;
    margin-top: 0;
    position: relative;
}
ul.header-menu{
    position: relative;
    padding: 15px 0 2px 0;
    float: right;
}

ul.header-menu li {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;    
}
ul.header-menu > li {
    margin-left: 4px;
}
ul.header-menu > li:first-child {
    margin-left: 0;
}
ul.header-menu > li > a {
    position: relative;
    display: block;
    height: 65px;
    cursor: pointer;
    text-decoration: none;
    color: #828282;
    padding: 0 10px; 
    line-height: 65px;
    text-align: center;
}
                            /************ /header **********/
.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

#content {
    position: relative;
    width: 1000px;
    margin: 10px auto;
    padding-top:25px;
}
/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
/* Double-color dashed line */
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
/* Cloud */		
hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
/* Glyph, by Harry Roberts */		
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

div.art-headerobject
{
   display: block;
   left: 100%;
   margin-left: -325px;
   position: absolute;
   top: 35px;
   width: 325px;
   height: 400px;
   background-image: url('../images/my/clear_cool.png');
}
                                    /* main page */
#front-title{
    line-height:1;
    font-family: GoodDogRegular, Helvetica, sans-serif; 
    text-transform: uppercase;
    font-size: 142px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

/* shelf */
.shelf{
    width: 100%;
    height: 300px;
    opacity: .75;
    position: absolute;
    bottom: 0px;
}
.notes {
    background-size:150px 110px;
    background-repeat: no-repeat;
    width:150px;
    height:150px;
    float:left;
    position:relative;
    opacity: .75;
}
.shelf-front div{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    background-position:center top;
    padding: 0px 45px 15px 45px;
}
.shelf-front div:hover{
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    opacity:1;
}
.shelf-front:nth-last-of-type div{
    background-position: center right;
}
.shelf-back div{
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
    padding: 0 20px 20px 20px;
    background-position: center center;
}
.shelf-back div:hover{
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
    transform: scale(.85);
    opacity: 1;
}
.shelf-back:nth-of-type(1) div{
    margin-left: 10%;
    background-position: center right;
}
.shelf-back:nth-last-of-type div{
    margin-right: 10%;
    background-position: center left;
}

.notes h1{
    position:absolute;
    bottom: 30px;
    line-height: 50px;
    display:none;
}
.notes h1 a{
        font-size: 50px;
	font-family: GoodDogRegular, Helvetica, sans-serif;            
        color: #ABDA99;
        text-align:center;
}
.notes h1 a:hover{
    text-decoration: none;
    color: white; 
}
#music {background-image:url('../images/stick/music_icon.png');}#engineer {background-image:url('../images/stick/civil_engineer.png');}#programmer {background-image:url('../images/stick/programming_icon.png');}
#thinker {background-image:url('../images/stick/thinking_man_statue.png');}#stoner {background-image:url('../images/stick/stone_icon.png');}#athlete {background-image:url('../images/stick/football_icon.png');}
#artist {background-image:url('../images/stick/art.png');}#student{background-image:url('../images/stick/student.png');}

/* shelf */

.more-button {
        width:500px; 
        position:absolute; 
        left:25%;
        border-bottom-left-radius: 75px 50px;border-bottom-right-radius: 75px 50px;
}

.more-txt{
        font-size: 50px;
	font-family: GoodDogRegular, Helvetica, sans-serif;            
        color: #669900;
        text-align:center;    
}
                        /* /main page */

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: #E7AAAA;
}
h1.title{
    font-size: 75px;
    font-family: GoodDogRegular, Helvetica, sans-serif;            
    color: white;
    text-align:center;
    cursor: default;
    text-shadow: 2px 2px 2px black;
}
.tab-content {
    overflow-x: hidden
}

#CT h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
.courses {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.courses li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.courses li:last-child {
  border: none;
}
 
.courses li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.courses li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.link-card{
    float: left;border: 1px solid gray;
    height: 136px;
    overflow: hidden;
    background-color: #DDF0FA;
    color: gray;
    opacity: .7;
    margin: 10px 0;
}
a:hover .link-card{
    opacity: 1;
}
.link-card-left{
    width: 15%;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 2%;
}
.link-card img{
    border-top-left-radius: 10px;
}
.link-card h3{
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    color: black;
}
.link-card-right{
    width: 60%;
    margin-right:21%;
    border-left: none; 
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}